PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/leadconnect?retryWrites=true&w=majority
MY_GMAIL=youremail@gmail.com
MY_APP_PASSWORD=your-app-password
SERPAPI_KEY=your_serpapi_key
GROQ_API_KEY=your_groq_api_key
